* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  background-color: #161515;
}

.container {
  margin: 20px;
  height: 480px;
  width: 480px;
  position: relative;

}

.container>div {
  width: 120px;
  height: 120px;
  border: 2px black;
  border-style: solid;
  position: absolute;
  
  
}
.container>.center {
  height: 240px;
  width: 240px;
  position: absolute;
}


.container>div>img{
  width: 95%;
  height: 90%;
  margin-left: 3px;
  margin-top: 5px;
}

.center {
  right:0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
}
.center img{
  width: 236px !important;
  height: 236px !important;
  margin: 0 !important;
}

.caja2 {
  margin-left: 120px;
}
/* .caja2 img {
  width: 95%;
  height: 90%;
  margin-left: 3px;
  margin-top: 5px;
} */

.caja3 {
  right: 0;
  margin-right: 120px;
}

/* derecha superior */
.caja4 {
  right: 0;
}

.caja5 {
  right: 0;
  margin-top: 120px;
}

.caja6 {
  bottom: 0;
  right: 0;
  margin-bottom: 120px;
}

/* derecha inferior */
.caja7 {
  bottom: 0;
  right: 0;
}

.caja8 {
  bottom: 0;
  right: 0;
  margin-right: 120px;
}

.caja9 {
  bottom: 0;
  margin-left: 120px;
}

/* izq inferior */
.caja10 {
  bottom: 0;
}

.caja11 {
  bottom: 0;
  margin-bottom: 120px;
}

.caja12 {
  margin-top: 120px;
}

.contenedor {
  width: 500px;
  height: 500px;
  border: 1px solid white;
  position: relative;
  
}
/* top */
.borde-ext-1{
  height: 7px;
  width: 500px;
  position: absolute;
  top: -7px;
  z-index: 305;
}
.borde-ext-1 img {
  width: 100%
}
/* bottom */
.borde-ext-2{
  height: 7px;
  width: 500px;
  bottom: 14px;
  right: 1px;
  position: absolute;
  z-index: 1;
}
.borde-ext-2 img {
  width: 100%;
  transform: rotate(180deg);
}
/* right */
.borde-ext-3{
  height: 490px;
  width: 17px;
  right: 0;
  position: absolute;
  z-index: -1;
}
.borde-ext-3 img {
  height:100%;
}

.borde-ext-4{
  height: 490px;
  width: 17px;
  position: absolute;
  z-index: 204;
}
.borde-ext-4 img {
  height:100%;
  transform: rotate(180deg);
}

.contenido {
  /* outline: 0px solid red; */
  width: 465px;
  height: 466px;
  margin: 11px 17px;
  position: relative;
  
}

.contenido>div{
  position: absolute;
}

.box1 {
  width: 106px;
  height: 106px;
  position: absolute;
}

.box1 img {
  width: 100%;
  height: 100%;
}

.box2 {
  width: 106px;
  height: 106px;
  position: absolute;
  left:119px;
}

.box2 img {
  width: 100%;
  height: 100%;
}

.box3 {
  width: 106px;
  height: 106px;
  position: absolute;
  left: 238px;
}

.box3 img {
  width: 100%;
  height: 100%;
}

.box4 {
  width: 106px;
  height: 106px;
  position: absolute;
  right: 1px;
}

.box4 img {
  width: 100%;
  height: 100%;
}

.box5 {
  width: 106px;
  height: 106px;
  position: absolute;
  right: 0;
  top: 119px;
}

.box5 img {
  width: 100%;
  height: 100%;
}

.box6 {
  width: 106px;
  height: 106px;
  position: absolute;
  right: 0;
  top: 239.6px;
}

.box6 img {
  width: 100%;
  height: 100%;
}

.box7{
  width: 106px;
  height: 106px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.box7 img {
  width: 100%;
  height: 100%;
}

.box8{
  width: 106px;
  height: 106px;
  position: absolute;
  right: 122.5px;
  bottom: 0;
}

.box8 img {
  width: 100%;
  height: 100%;
}

.box9{
  width: 106px;
  height: 106px;
  position: absolute;
  right: 240px;
  bottom: 0;
}

.box9 img {
  width: 100%;
  height: 100%;
}

.box10{
  width: 106px;
  height: 106px;
  position: absolute;
  bottom: 0;
  background-color: #161515;
}

.box10 img {
  width: 100%;
  height: 100%;
}

.box11{
  width: 106px;
  height: 106px;
  position: absolute;
  top: 239px;
  background-color: #161515;
}

.box11 img {
  width: 100%;
  height: 100%;
}

.box12{
  width: 106px;
  height: 106px;
  position: absolute;
  top: 120px;
  overflow: hidden;
}

.box12 img {
  width: 100%;
  height: 100%;
}


.separador1 {
  width: 5px;
  height: 106px;
  position: absolute;
  left: 104px;
}

.separador1 img {
  height: 100%
}

.separador2 {
  width: 5px;
  height: 106px;
  position: absolute;
  left: 224px;
}

.separador2 img {
  height: 100%
}

.separador3 {
  width: 5px;
  height: 106px;
  position: absolute;
  left: 342.4px;
}

.separador3 img {
  height: 100%
}

.separador4 {
  width: 106px;
  height: 5px;
  position: absolute;
  top: 106px;
  right: 0;
}

.separador4 img {
  width: 100%
}

.separador5 {
  width: 106px;
  height: 5px;
  position: absolute;
  top: 225.1px;
  right: 0;
}

.separador5 img {
  width: 100%
}

.separador6 {
  width: 106px;
  height: 5px;
  position: absolute;
  top: 346px;
  right: 0;
}

.separador6 img {
  width: 100%
}

.separador7 {
  width: 5px;
  height: 106px;
  position: absolute;
  bottom: 0px;
  left:342.4px;
}

.separador7 img {
  height: 100%
}

.separador8 {
  width: 5px;
  height: 106px;
  position: absolute;
  bottom: 0px;
  left:224px;
  z-index: 10;
}

.separador8 img {
  height: 100%
}

.separador9 {
  width: 5px;
  height: 106px;
  position: absolute;
  bottom: 0px;
  left:104px;
  z-index: 11;
}

.separador9 img {
  height: 100%
}

.separador10 {
  width: 106px;
  height: 5px;
  position: absolute;
  top: 346px;
 
}

.separador10 img {
  width: 100%
}

.separador11 {
  width: 106px;
  height: 5px;
  position: absolute;
  top: 225.1px;
}

.separador11 img {
  width: 100%
}

.separador12 {
  width: 106px;
  height: 5px;
  position: absolute;
  top: 106px;
}

.separador12 img {
  width: 100%
}

.centro  {
  height: 255px;
  width: 252px;
  margin: -371px 123px;
  position: relative;
}

.centro>div {
  position: absolute;
}

.borde-int1 {
  top: -1px;
  width: 252px;
}

.borde-int1 img{
  width: 100%;
}

.borde-int2 {
  top: 3px;
  right: -2px;
  z-index: -900;
}

.borde-int2 img{
  width: 100%;
}

.borde-int4 {
  top: 3px;
  left: -2px;
  z-index: -920;
}

.borde-int4 img{
  width: 100%;
  transform: rotate(180deg);
}

.borde-int3 {
  width: 252px;
  bottom: -5px;
}

.borde-int3 img{
  width: 100%;
  transform: rotate(180deg);
}

.principal {
  width: 226px;
  height: 226px;
  left: 13px;
  top: 14px;
  z-index: -1240;
}

.principal img {
  width: 100%;
  height: 100%;
}
/* .contenido {
  outline: 0px solid red;
  width: 465px;
  height: 466px;
  margin: 11px 17px;
  position: relative;
} */

.box{
  /* transition: .5s ease-out; */
  animation: none;
  opacity: 1;
}

.box:hover {
  animation: opacity .7s ease-in-out;
  
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6
  }

  100% {
    opacity: 1;
  }
}


